<div class="footer">
  <div class="top">
    <div class="titles">
      <h1 class="title">Clothy.</h1>
      <p class="description">
        Fashion is a term of self-expression and autonomy at a particular period
        and place and in a specific context.
      </p>
    </div>
    <div class="links">
      <div class="t1">
        <a href="#" href="#" class="title">Home</a>
        <a href="#" class="item">Men</a>
        <a href="#" class="item">Women</a>
        <a href="#" class="item">Accessories</a>
        <a href="#" class="item">Winter</a>
      </div>
      <div class="t2">
        <a href="#" class="title">Company</a>
        <a href="#" class="item">About us</a>
        <a href="#" class="item">Community</a>
        <a href="#" class="item">Reviews</a>
        <a href="#" class="item">FAQ</a>
      </div>
      <div class="t3">
        <a href="#" class="title">Gift Cards</a>
        <a href="#" class="item">Buy gift card</a>
        <a href="#" class="item">About gift card</a>
        <a href="#" class="item">reedem gift card</a>
        <a href="#" class="item">corporate gift card</a>
      </div>
      <div class="t4">
        <a href="#" class="title">Social</a>
        <a href="#" class="item">Instagram</a>
        <a href="#" class="item">Facebook</a>
        <a href="#" class="item">Twitter</a>
        <a href="#" class="item">Linkedin</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="bottom">
    <a href="#">Privacy Policy</a>
    <p>All rights reserved 2023 @Clothy</p>
    <a href="">Terms & Conditions</a>
  </div>
</div>
