<div class="navbar">
  <a href="{% url 'index' %}" class="title">clothy.</a>
  <div class="search">
    <form method="GET" action="{% url 'products' %}">
      <input type="search" name="search" placeholder="Search..." />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <div class="right">
    {% if user.is_authenticated %}
    <a class="image-a" href="{% url 'user_details' %}">
      <img
        src="{{ user.profile_image.url }}"
        alt="Profile Image"
        class="profile-image"
      />
    </a>
    {% else %}
    <a href="{% url 'login' %}">
      <i class="fa-solid fa-user"></i>
    </a>
    {% endif %}
    <a href="{% url 'index' %}"><i class="fa-regular fa-house"></i></a>
    {% if user.is_authenticated %}
    <a href="{% url 'cart' %}"><i class="fa-regular fa-cart-shopping"></i></a>
    {% else %}
    <a href="{% url 'login' %}"><i class="fa-regular fa-cart-shopping"></i></a>
    {% endif %}
    <p class="cart-count">{{ cart_count|default:"0" }}</p>
  </div>
</div>
