{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-9a55d8748fd46de7b7977d9ee8dee7a4.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/cindie-mono" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/store/products.css' %}"
    />
    <title>Clothy | All Products</title>
  </head>
  <body>
    {% include 'components/navbar_search.html' %}
    <div class="main">
      <div class="all-products">
        <div class="bar">
          <h2 class="title">ALL PRODUCTS</h2>
        </div>
        <div class="bottom">
          <div class="sidebar">
            <h3 class="title">Filter Products</h3>
            <form method="GET" action="{% url 'products' %}">
              <div class="category-filter">
                <h4 class="filter-title">Category:</h4>
                <div class="category-options">
                  <label for="category-all">
                    <input
                      type="radio"
                      name="category"
                      id="category-all"
                      value=""
                      checked
                    />
                    All Categories
                  </label>
                  {% for category in all_categories %}
                  <label for="category-{{ category.id }}">
                    <input
                      type="radio"
                      name="category"
                      id="category-{{ category.id }}"
                      value="{{ category.id }}"
                    />
                    {{ category.name }}
                  </label>
                  {% endfor %}
                </div>
              </div>
              <div class="min-max-labels">
                <label class="min-price" for="min-price">Min Price:</label>
                <label class="max-price" for="max-price">Max Price:</label>
              </div>
              <div class="min-max-inputs">
                <input
                  type="number"
                  name="min-price"
                  id="min-price"
                  step="0.01"
                />
                <input
                  type="number"
                  name="max_price"
                  id="max_price"
                  step="0.01"
                />
              </div>

              <!-- Sort By Filter -->
              <label class="sort-label" for="sort_by">Sort By:</label>
              <select name="sort_by" id="sort_by">
                <option value="popularity">Popularity</option>
                <option value="price_low_to_high">Price (Low to High)</option>
                <option value="price_high_to_low">Price (High to Low)</option>
                <option value="newest">Newest</option>
              </select>

              <button class="submit" type="submit">Apply Filters</button>
            </form>
          </div>
          <div class="products">
            {% for product in all_products %}
            <div class="item">
              <a href="{% url 'product_detail' product.id %}"
                ><img src="{{ product.image.url }}" alt="{{ product.name }}"
              /></a>
              <div class="bottom">
                <div class="info">
                  <p class="name">{{ product.name }}</p>
                  <p class="price">€{{ product.final_price }}</p>
                </div>
                <i class="cart-icon fa-solid fa-basket-shopping-simple"></i>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include 'components/footer.html' %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const cartIcons = document.querySelectorAll(".cart-icon");

        cartIcons.forEach(function (cartIcon) {
          cartIcon.addEventListener("click", function () {
            cartIcon.classList.toggle("cart-clicked");
          });
        });
      });
    </script>
  </body>
</html>
