{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-9a55d8748fd46de7b7977d9ee8dee7a4.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/cindie-mono" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/store/product_details.css' %}"
    />
    <title>Clothy | {{ product.name }}</title>
  </head>
  <body>
    {% include 'components/navbar_search.html' %}
    <div class="main">
      <div class="product-details">
        <img src="{{ product.image.url }}" alt="" class="big-image" />
        <div class="all-info">
          <h1 class="name">{{ product.name }}</h1>
          <p class="description">{{ product.description }}</p>
          {% if has_discount %}
          <div class="final-price-box">
            <h3 class="final-price">€{{ product.final_price }}</h3>
            {% if product.discount_type == "Amount" %}
            <h3 class="discount">-€{{ product.discount_value }}</h3>
            {% else %}
            <h3 class="discount">{{ product.discount_value }}%</h3>
            {% endif %}
          </div>
          <p class="original-price"><s>€{{ product.price }}</s></p>
          {% else %}
          <h3 class="final-price">€{{ product.price }}</h3>
          {% endif %}
          <div class="add-to-cart">
            <form method="POST" action="{% url 'add_to_cart' product.id %}">
              {% csrf_token %}
              <div class="count-box">
                <button class="minus">-</button>
                <input
                  type="number"
                  name="quantity"
                  value="1"
                  min="1"
                  class="quantity-input count"
                />
                <button class="plus">+</button>
              </div>
              <button type="submit" class="cart">
                <p>Add To Cart</p>
                <i class="fa-regular fa-cart-shopping"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include 'components/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        const minusButton = $(".minus");
        const plusButton = $(".plus");
        const countInput = $(".quantity-input");

        // Event handler for the minus button
        minusButton.on("click", function (e) {
          e.preventDefault(); // Prevent form submission
          const currentValue = parseInt(countInput.val());
          if (currentValue > 1) {
            countInput.val(currentValue - 1);
          }
        });

        // Event handler for the plus button
        plusButton.on("click", function (e) {
          e.preventDefault(); // Prevent form submission
          const currentValue = parseInt(countInput.val());
          countInput.val(currentValue + 1);
        });
      });
    </script>
  </body>
</html>
